@font-face {
    font-family: 'mono';
    src: url('/fonts/mono.ttf');
}

html {
    font-family: 'mono';
}

#TableOfContents {
    font-size: 0.9rem;
    letter-spacing: .01em;
}

#TableOfContents ul li a {
    color: #86868b;
}

#TableOfContents ul li a:hover {
    color: #fff;
    text-decoration: none;
}

#TableOfContents ul li a.active {
    text-decoration: none;
    color: #fff;
}

.toc a:is(.dark *) {
    color: white;
}

div.flex.author {
    color: white !important;
}

img[alt="get-it-on-googleplay"] {
    width: 200px;
}


/* Button Styles */

.show-more-button {
    appearance: button;
    background-color: #8a2198;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
    border: 1px solid #8a2198;
    border-radius: 1rem;
    box-shadow: rgba(255, 255, 255, .15)0 1px inset, rgba(46, 54, 80, .075)0 1px 1px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.80em;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    padding: .5rem 1.5rem;
    text-align: center;
    text-transform: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.show-more-button:focus:not(:focus-visible),
.show-more-button:focus {
    outline: 0;
}

.show-more-button:hover {
    background-color: #a0397c;
    border-color: #a0397c;
}

.show-more-button:focus {
    background-color: #D460AC;
    border-color: #8A2198;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.show-more-button:active {
    background-color: #8A2198;
    background-image: none;
    border-color: #8A2198;
    box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.show-more-button:active:focus {
    box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.show-more-button:disabled {
    background-image: none;
    box-shadow: none;
    opacity: .65;
    pointer-events: none;
}


.get-in-touch-btn {
    all: unset;
    width: 100px;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.get-in-touch-btn::after,
.get-in-touch-btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
}

.get-in-touch-btn::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #2907261f;
    border-radius: 10px;
}

.get-in-touch-btn::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #dacaca15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
}

.get-in-touch-btn:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
}

.get-in-touch-btn:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

.get-in-touch-btn:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}



.hire-button {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.hire-button:before {
    content: "";
    background: linear-gradient(45deg,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-hire-button 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-hire-button {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.hire-button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #290726;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* -- Chroma Highlight -- */
/* Background */
.bg {
    color: #cdd6f4 !important;
    background-color: #2b2b30 !important;
}

/* PreWrapper */
.chroma pre {
    color: #cdd6f4 !important;
    background-color: #2b2b30 !important;
}

/* Error */
.chroma .err {
    color: #f38ba8 !important;
}

/* LineLink */
.chroma .lnlinks {
    outline: none;
    text-decoration: none;
    color: inherit
}

/* LineTableTD */
.chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
}

/* LineTable */
.chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

/* LineHighlight */
.chroma .hl {
    background-color: #45475a !important;
}

/* LineNumbersTable */
.chroma .lnt {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f849c !important;
}

/* LineNumbers */
.chroma .ln {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f849c !important;
}

/* Line */
.chroma .line {
    display: flex !important;
    ;
}

/* Keyword */
.chroma .k {
    color: #cba6f7 !important;
}

/* KeywordConstant */
.chroma .kc {
    color: #f687fa !important;
}

/* KeywordDeclaration */
.chroma .kd {
    color: #f38ba8 !important;
}

/* KeywordNamespace */
.chroma .kn {
    color: #94e2d5 !important;
}

/* KeywordPseudo */
.chroma .kp {
    color: #cba6f7 !important;
}

/* KeywordReserved */
.chroma .kr {
    color: #cba6f7 !important;
}

/* KeywordType */
.chroma .kt {
    color: #f38ba8 !important;
}

/* NameAttribute */
.chroma .na {
    color: #89b4fa !important;
}

/* NameBuiltin */
.chroma .nb {
    color: #89dceb !important;
}

/* NameBuiltinPseudo */
.chroma .bp {
    color: #89dceb !important;
}

/* NameClass */
.chroma .nc {
    color: #f9e2af !important;
}

/* NameConstant */
.chroma .no {
    color: #f9e2af !important;
}

/* NameDecorator */
.chroma .nd {
    color: #89b4fa !important;
    font-weight: bold
}

/* NameEntity */
.chroma .ni {
    color: #94e2d5 !important;
}

/* NameException */
.chroma .ne {
    color: #f687fa !important;
}

/* NameFunction */
.chroma .nf {
    color: #89b4fa !important;
}

/* NameFunctionMagic */
.chroma .fm {
    color: #89b4fa !important;
}

/* NameLabel */
.chroma .nl {
    color: #89dceb !important;
}

/* NameNamespace */
.chroma .nn {
    color: #f687fa !important;
}

/* NameProperty */
.chroma .py {
    color: #f687fa !important;
}

/* NameTag */
.chroma .nt {
    color: #cba6f7 !important;
}

/* NameVariable */
.chroma .nv {
    color: #f5e0dc !important;
}

/* NameVariableClass */
.chroma .vc {
    color: #f5e0dc !important;
}

/* NameVariableGlobal */
.chroma .vg {
    color: #f5e0dc !important;
}

/* NameVariableInstance */
.chroma .vi {
    color: #f5e0dc !important;
}

/* NameVariableMagic */
.chroma .vm {
    color: #f5e0dc !important;
}

/* LiteralString */
.chroma .s {
    color: #a6e3a1 !important;
}

/* LiteralStringAffix */
.chroma .sa {
    color: #f38ba8 !important;
}

/* LiteralStringBacktick */
.chroma .sb {
    color: #a6e3a1 !important;
}

/* LiteralStringChar */
.chroma .sc {
    color: #a6e3a1 !important;
}

/* LiteralStringDelimiter */
.chroma .dl {
    color: #89b4fa !important;
}

/* LiteralStringDoc */
.chroma .sd {
    color: #6c7086 !important;
}

/* LiteralStringDouble */
.chroma .s2 {
    color: #a6e3a1 !important;
}

/* LiteralStringEscape */
.chroma .se {
    color: #89b4fa !important;
}

/* LiteralStringHeredoc */
.chroma .sh {
    color: #6c7086 !important;
}

/* LiteralStringInterpol */
.chroma .si {
    color: #a6e3a1 !important;
}

/* LiteralStringOther */
.chroma .sx {
    color: #a6e3a1 !important;
}

/* LiteralStringRegex */
.chroma .sr {
    color: #94e2d5 !important;
}

/* LiteralStringSingle */
.chroma .s1 {
    color: #a6e3a1 !important;
}

/* LiteralStringSymbol */
.chroma .ss {
    color: #a6e3a1 !important;
}

/* LiteralNumber */
.chroma .m {
    color: #f687fa !important;
}

/* LiteralNumberBin */
.chroma .mb {
    color: #f687fa !important;
}

/* LiteralNumberFloat */
.chroma .mf {
    color: #f687fa !important;
}

/* LiteralNumberHex */
.chroma .mh {
    color: #f687fa !important;
}

/* LiteralNumberInteger */
.chroma .mi {
    color: #f687fa !important;
}

/* LiteralNumberIntegerLong */
.chroma .il {
    color: #f687fa !important;
}

/* LiteralNumberOct */
.chroma .mo {
    color: #f687fa !important;
}

/* Operator */
.chroma .o {
    color: #89dceb !important;
    font-weight: bold !important;
}

/* OperatorWord */
.chroma .ow {
    color: #89dceb !important;
    font-weight: bold !important;
}

/* Comment */
.chroma .c {
    color: #6c7086 !important;
    font-style: italic !important;
}

/* CommentHashbang */
.chroma .ch {
    color: #6c7086 !important;
    font-style: italic !important;
}

/* CommentMultiline */
.chroma .cm {
    color: #6c7086 !important;
    font-style: italic !important;
}

/* CommentSingle */
.chroma .c1 {
    color: #6c7086 !important;
    font-style: italic !important;
}

/* CommentSpecial */
.chroma .cs {
    color: #6c7086 !important;
    font-style: italic !important;
}

/* CommentPreproc */
.chroma .cp {
    color: #6c7086 !important;
    font-style: italic !important;
}

/* CommentPreprocFile */
.chroma .cpf {
    color: #6c7086 !important;
    font-weight: bold !important;
    font-style: italic !important;
}

/* GenericDeleted */
.chroma .gd {
    color: #f38ba8 !important;
    background-color: #313244 !important;
}

/* GenericEmph */
.chroma .ge {
    font-style: italic
}

/* GenericError */
.chroma .gr {
    color: #f38ba8 !important;
}

/* GenericHeading */
.chroma .gh {
    color: #f687fa !important;
    font-weight: bold !important;
}

/* GenericInserted */
.chroma .gi {
    color: #a6e3a1 !important;
    background-color: #313244 !important;
}

/* GenericStrong */
.chroma .gs {
    font-weight: bold !important;
}

/* GenericSubheading */
.chroma .gu {
    color: #f687fa !important;
    font-weight: bold !important;
}

/* GenericTraceback */
.chroma .gt {
    color: #f38ba8 !important;
}

/* GenericUnderline */
.chroma .gl {
    text-decoration: underline
}