{{ if isset site.Params.umamiAnalytics "domain" }}
<script async src="https://{{ site.Params.umamiAnalytics.domain }}/umami.js"
    data-website-id="{{ site.Params.umamiAnalytics.websiteid }}"></script>
{{ else }}
<script async src="https://cloud.umami.is/script.js" data-website-id="{{ site.Params.umamiAnalytics.websiteid }}">
</script>
{{ end }}

{{ if isset site.Params.verification "gads" }}
<meta name="google-adsense-account" content="{{ site.Params.verification.gads }}">
<script async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ site.Params.verification.gads }}"
    crossorigin="anonymous"></script>
<script async custom-element="amp-auto-ads" src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>
<amp-auto-ads type="adsense" data-ad-client="{{ site.Params.verification.gads }}">
</amp-auto-ads>
{{ end }}